[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = ">=1.15"
wheel = ">=0.45"
pygithub = ">=2.6"
homeassistant = ">=2025.4.0"
pre-commit = ">=4.0"
pytest = ">=8.0"
pytest-asyncio = ">=0.24"
pytest-cov = ">=6.0"


[packages]
aiotruenas = {git = "https://github.com/testuser7/aiotruenas.git", ref = "apps"}
